@import "tailwindcss";

@tailwind utilities;


html{
  font-size: 16px;
  scroll-behavior: smooth;
}
:root {
  --foreground: #171717;
  --principal: #4b68e8;
  --secondary: #7688d6;
  --font-geist-sans: Rubik, Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

@media (min-width: 1024px) {
  .scrollbar-hidden-lg {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge antiguo */
  }
  .scrollbar-hidden-lg::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}
/* globals.css */

/* Chrome, Safari, Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}
/* IE 10+ */
.hide-scrollbar {
  -ms-overflow-style: none;
}







